@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

@font-face {
  font-family: 'Yester Year';
  src: url("../assets/fonts/Yesteryear-Regular.ttf"),
    url("../assets/fonts/Yesteryear-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  font-family: 'Yester Year';
  display: flex;
  font-size: large;
  letter-spacing: 0.5px;
  background-color: #E0D8C3;
}
.body {
  width: 100vw;
}
nav {
  background-color: #F6c48E;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.nav-inner-content {
  display: flex;
  width: inherit;
  justify-content: space-between;
  margin: 15px 0px;
}
.nav-inner-content li {
  text-transform: capitalize;
}
.nav-inner-content li:hover {
  text-transform: uppercase;
  background-color: #5b5e5c25;
}
.nav-content {
  height: 60px;
  border-bottom: 2px #000000;
  box-shadow: darkgrey;
  
  background-color: #F6c48E;
  z-index: 1;
  margin: auto;
  max-width: 1200px;
  width: 95% !important;
  display: flex;
}
.header{
  width: 100%;
  max-width: 1200px;
margin: auto;
  height: 500px;
  opacity: 60%;

}
.header div{
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  top: 175px;
  justify-content: center;
}
.header div h1{
  margin: auto;
  padding: 10px;
  background-color: #5b5e5c25;

}
.set_bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.content {
  min-height: 40vh;
  background-color: #E0D8C3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin: auto;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}
.content span{
  text-transform: capitalize;
}
.float-left{

  float: left;
}
.float-right{
  float: right
}
.content img {
  height: 200px;
  width: 250px;
  margin: 25px;
  object-fit: cover;
  box-shadow: 0px 20px 20px #00000090;
}
.inner-content {
  background-color: #E0D8C3;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: #000000;
  padding: 25px;
  flex-direction: row;
  max-width: 960px;
  border-bottom: 2px solid #00000070;
}
.inner-content .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}
.inner-content:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.inner-content:last-child {
  border: none;
}
.inner-content p {
  text-align: left;
}
.overlay {
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background-color: #00000090;
  position: absolute;
  transform: translate(0%, 50%);
}
.modal {
  z-index: 100;
  width: 300px;
  height: 300px;
  top: 40%;
  left: 40%;
  position: absolute;
  opacity: 1;
  color: #5b5e5c;
  font-size: 16px;
  background-color: #ffffff;
  margin: auto;
  padding: 25px;
}

.modal form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.closeModalRow {
  width: 100%;
  margin: auto;
  text-align: right;
  float: right;
  height: 20px;
}

h1 {
  color: #000000;
  text-transform: uppercase;
}
button {
  font-family: "ORCA-A";
  text-transform: capitalize;
  font-weight: 600;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  border: 1px solid #000000;
}
p {
  font-size: 16px;
}
hr {
  width: 100%;
  max-width: 1200px;
  border: 1px solid #5b5e5c;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  font-weight: 700;
  margin: 10px 0px;
}
input[type="text"] {
  appearance: none;
  border: 1px solid #000000;
  border-radius: 4px;
}
input[type="text" i] {
  padding: 4px;
}
textarea {
  appearance: none;
  border: 1px solid #000000;
  border-radius: 4px;
}
.footer-inner-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
.footer-content {
  height: 150px;
  position: relative;
  background-color: cadetblue;
  bottom: 0px;
  display: flex;
  padding: 50px;
}
li {
  list-style: none;
}
